nav {
    font-size: 14px;
    font-family: georgia;
    text-align: center;
}
div {
    width: 119px;
    border: solid 1px;
    float: left;
    padding: 10px 0;
}



body
{
    
    color: white;
    background-image: url(https://pbsadler.github.io/wood.jpg);
    background-repeat:no-repeat;
    background-size: 2000px 2000px;
    


}

